izibiz.Application/izibiz.SERVICES/Connected Services/serviceSmm/SmmWS3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:xmime="http://www.w3.org/2005/05/xmlmime" xmlns:hr="http://www.hr-xml.org/3" xmlns:c="http://schemas.i2i.com/ei/common" xmlns:udt="urn:un:unece:uncefact:data:specification:UnqualifiedDataTypesSchemaModule:2" xmlns="http://schemas.i2i.com/ei/wsdl" xmlns:e="http://schemas.i2i.com/ei/entity" xmlns:pck="http://www.efatura.gov.tr/package-namespace" targetNamespace="http://schemas.i2i.com/ei/wsdl" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:import schemaLocation="https://efaturatest.izibiz.com.tr:443/SmmWS?xsd=1" namespace="http://schemas.i2i.com/ei/common" />
  <xsd:import schemaLocation="https://efaturatest.izibiz.com.tr:443/SmmWS?xsd=2" namespace="http://schemas.i2i.com/ei/entity" />
  <xsd:import schemaLocation="https://efaturatest.izibiz.com.tr:443/SmmWS?xsd=3" namespace="http://www.w3.org/2005/05/xmlmime" />
  <xsd:element name="RequestFault" type="e:REQUEST_ERRORType" />
  <xsd:element name="LoadSmmRequest" type="LoadSmmRequest" />
  <xsd:complexType name="LoadSmmRequest">
    <xsd:complexContent mixed="false">
      <xsd:extension base="e:REQUEST">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="unbounded" name="SMM" type="SMM" />
          <xsd:element minOccurs="0" name="SMM_PROPERTIES" type="SMM_PROPERTIES" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="LoadSmmResponse" type="LoadSmmResponse" />
  <xsd:complexType name="LoadSmmResponse">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="REQUEST_RETURN" type="e:REQUEST_RETURNType" />
      <xsd:element minOccurs="0" name="ERROR_TYPE" type="e:REQUEST_ERRORType" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="SendSmmRequest" type="SendSmmRequest" />
  <xsd:complexType name="SendSmmRequest">
    <xsd:complexContent mixed="false">
      <xsd:extension base="e:REQUEST">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="unbounded" name="SMM" type="SMM" />
          <xsd:element minOccurs="0" name="SMM_PROPERTIES" type="SMM_PROPERTIES" />
          <xsd:element minOccurs="0" name="SERIES_PROPERTIES" type="SERIES_PROPERTIES" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="SendSmmResponse" type="SendSmmResponse" />
  <xsd:complexType name="SendSmmResponse">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="REQUEST_RETURN" type="e:REQUEST_RETURNType" />
      <xsd:element minOccurs="0" name="ERROR_TYPE" type="e:REQUEST_ERRORType" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="GetSmmStatusRequest" type="GetSmmStatusRequest" />
  <xsd:complexType name="GetSmmStatusRequest">
    <xsd:complexContent mixed="false">
      <xsd:extension base="e:REQUEST">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="unbounded" name="UUID" type="xsd:token" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="GetSmmStatusResponse" type="GetSmmStatusResponse" />
  <xsd:complexType name="GetSmmStatusResponse">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="SMM_STATUS" type="SMM" />
      <xsd:element minOccurs="0" name="ERROR_TYPE" type="e:REQUEST_ERRORType" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="CancelSmmRequest" type="CancelSmmRequest" />
  <xsd:complexType name="CancelSmmRequest">
    <xsd:complexContent mixed="false">
      <xsd:extension base="e:REQUEST">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="unbounded" name="UUID" type="xsd:token" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="CancelSmmResponse" type="CancelSmmResponse" />
  <xsd:complexType name="CancelSmmResponse">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="REQUEST_RETURN" type="e:REQUEST_RETURNType" />
      <xsd:element minOccurs="0" name="ERROR_TYPE" type="e:REQUEST_ERRORType" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="GetSmmReportRequest" type="GetSmmReportRequest" />
  <xsd:complexType name="GetSmmReportRequest">
    <xsd:complexContent mixed="false">
      <xsd:extension base="e:REQUEST">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="START_DATE" type="xsd:date" />
          <xsd:element minOccurs="0" name="END_DATE" type="xsd:date" />
          <xsd:element minOccurs="0" name="HEADER_ONLY" type="c:FLAG_VALUE" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="GetSmmReportResponse" type="GetSmmReportResponse" />
  <xsd:complexType name="GetSmmReportResponse">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="SMM_REPORT" type="REPORT" />
      <xsd:element minOccurs="0" name="ERROR_TYPE" type="e:REQUEST_ERRORType" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="GetSmmRequest" type="GetSmmRequest" />
  <xsd:complexType name="GetSmmRequest">
    <xsd:complexContent mixed="false">
      <xsd:extension base="e:REQUEST">
        <xsd:sequence>
          <xsd:element name="SMM_SEARCH_KEY">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element minOccurs="0" name="LIMIT" type="xsd:int" />
                <xsd:element minOccurs="0" name="ID" type="xsd:normalizedString" />
                <xsd:element minOccurs="0" name="UUID" type="xsd:normalizedString" />
                <xsd:element minOccurs="0" name="FROM" type="xsd:token" />
                <xsd:element minOccurs="0" name="TO" type="xsd:token" />
                <xsd:element minOccurs="0" name="START_DATE" type="xsd:date" />
                <xsd:element minOccurs="0" name="END_DATE" type="xsd:date" />
                <xsd:element minOccurs="0" name="READ_INCLUDED" type="c:FLAG_VALUE" />
                <xsd:element minOccurs="0" name="CUSTOMER" type="c:CUSTOMER" />
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
          <xsd:element minOccurs="0" default="N" name="HEADER_ONLY" type="c:FLAG_VALUE" />
          <xsd:element minOccurs="0" default="XML" name="CONTENT_TYPE" type="c:CONTENT_TYPE" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="GetSmmResponse" type="GetSmmResponse" />
  <xsd:complexType name="GetSmmResponse">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="ERROR_TYPE" type="e:REQUEST_ERRORType" />
      <xsd:element minOccurs="1" maxOccurs="unbounded" name="SMM" type="SMM" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="REPORT">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="HEADER">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" name="UUID" type="xsd:string" />
            <xsd:element minOccurs="0" name="PERIOD_SDATE" type="xsd:date" />
            <xsd:element minOccurs="0" name="PERIOD_EDATE" type="xsd:date" />
            <xsd:element minOccurs="0" name="SEGMENT_SDATE" type="xsd:date" />
            <xsd:element minOccurs="0" name="SEGMENT_EDATE" type="xsd:date" />
            <xsd:element minOccurs="0" name="SEGMENT_NO" type="xsd:int" />
            <xsd:element minOccurs="0" name="DOCUMENT_COUNT" type="xsd:int" />
            <xsd:element minOccurs="0" name="STATUS" type="xsd:string" />
            <xsd:element minOccurs="0" name="STATUS_CODE" type="xsd:string" />
            <xsd:element minOccurs="0" name="STATUS_DESC" type="xsd:string" />
            <xsd:element minOccurs="0" name="GIB_STATUS_CODE" type="xsd:int" />
            <xsd:element minOccurs="0" name="GIB_STATUS_DESCRIPTION" type="xsd:string" />
            <xsd:element minOccurs="0" name="GIB_STATUS_DATE" type="xsd:dateTime" />
            <xsd:element minOccurs="0" name="CREATE_DATE" type="xsd:date" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element minOccurs="0" name="CONTENT" type="xmime:base64Binary" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SMM">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="HEADER">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" name="CUSTOMER" type="c:CUSTOMER" />
            <xsd:element minOccurs="0" name="ISSUE_DATE" type="xsd:date" />
            <xsd:element minOccurs="0" name="PAYABLE_AMOUNT" type="c:AmountType" />
            <xsd:element minOccurs="0" name="PROFILE_ID" type="PROFILE_ID" />
            <xsd:element minOccurs="0" name="STATUS" type="xsd:string" />
            <xsd:element minOccurs="0" name="STATUS_CODE" type="xsd:int" />
            <xsd:element minOccurs="0" name="STATUS_DESCRIPTION" type="xsd:string" />
            <xsd:element minOccurs="0" name="SMS_STATUS_CODE" type="xsd:int" />
            <xsd:element minOccurs="0" name="SMS_STATUS_DESCRIPTION" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="EMAIL" type="xsd:string" />
            <xsd:element minOccurs="0" name="EMAIL_STATUS_CODE" type="xsd:int" />
            <xsd:element minOccurs="0" name="EMAIL_STATUS_DESCRIPTION" type="xsd:string" />
            <xsd:element minOccurs="0" name="FILENAME" type="xsd:string" />
            <xsd:element minOccurs="0" name="HASH" type="xsd:string" />
            <xsd:element minOccurs="0" name="CDATE" type="xsd:dateTime" />
            <xsd:element minOccurs="0" name="REPORT_STATUS_CODE" type="xsd:int" />
            <xsd:element minOccurs="0" name="REPORT_STATUS_DESCRIPTION" type="xsd:string" />
            <xsd:element minOccurs="0" name="CANCEL_REPORT_DATE" type="xsd:dateTime" />
            <xsd:element minOccurs="0" name="NO_REPORT_DATE" type="xsd:dateTime" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element minOccurs="0" name="CONTENT" type="xmime:base64Binary" />
    </xsd:sequence>
    <xsd:attribute name="ID" type="xsd:token" use="optional" />
    <xsd:attribute name="UUID" type="xsd:token" use="optional" />
  </xsd:complexType>
  <xsd:simpleType name="PROFILE_ID">
    <xsd:restriction base="xsd:token">
      <xsd:enumeration value="EARSIVBELGE" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="SMM_PROPERTIES">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="SMS_FLAG" type="c:FLAG_VALUE" />
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="SMS_NUMBER" type="xsd:string" />
      <xsd:element minOccurs="0" name="EMAIL_FLAG" type="c:FLAG_VALUE" />
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="EMAIL" type="xsd:string" />
      <xsd:element minOccurs="0" name="SENDING_TYPE" type="SENDING_TYPE" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SERIES_PROPERTIES">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="SERIES_FLAG" type="c:FLAG_VALUE" />
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="SERIES_PREFIX" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="SENDING_TYPE">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="ELEKTRONIK" />
      <xsd:enumeration value="KAGIT" />
    </xsd:restriction>
  </xsd:simpleType>
</xsd:schema>